<nav class="flex px-32 py-2">
    <a href="/" class="flex-grow font-bold text-2xl">nodejs_file_uploader</a>
    <ul class="flex gap-3 text-lg">
        <li><a href="/auth/login">Log In</a></li>
        <li> <a href="/auth/signup">Sign Up</a></li>
    </ul>
</nav>