<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-slate-800 text-white">
    <div>
        <%- include('./partials/navbar.ejs') %>
    </div>
</body>
</html>