<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-slate-800 text-white">
    <header>
        <h1 class="text-6xl font-bold text-center mt-8">Welcome to the Home Page</h1>
    </header>
</body>
</html>